.socios .conteudo .bloco .descritivo { height: 350px }

.advogados { margin-top: 72px }
.advogados .linha-pequena { margin-top: 15px }
.advogados .bloco:nth-child(odd) .descritivo { background-color: #dbd7cc; }
.advogados .bloco:nth-child(even) .descritivo { background-color: #d0cbbc; }
.advogados .bloco .descritivo { height: 300px }
.advogados .bloco .descritivo p { margin: 0; color: #564828 }
.advogados .bloco .descritivo a { color: #564828 }
.advogados .bloco .descritivo a:hover { color: #000000 }
.advogados .bloco .descritivo p:nth-child(1) { font-size: 15px }
.advogados .bloco .descritivo p:nth-child(2) { font-size: 13px }
.advogados .bloco .descritivo p:nth-child(3) { font-size: 12px; margin-top: 20px; margin-bottom: 20px }
.advogados .bloco .descritivo p:nth-child(4) { font-size: 12px }

.equipe .conteudo { margin-top: 50px; margin-bottom: 80px }
.equipe .conteudo .descritivo { margin-top: 50px }
.equipe .conteudo .descritivo p { margin: 0; color: #564828 }
.equipe .conteudo .descritivo a { color: #564828 }
.equipe .conteudo .descritivo a:hover { color: #000000 }
.equipe .conteudo .descritivo p:nth-child(1) { font-size: 15px }
.equipe .conteudo .descritivo p:nth-child(2) { font-size: 12px }
.equipe .conteudo .descritivo p:nth-child(2) { margin-top: 15px }

@media screen and (min-width: 768px) {
	.bloco.primario { padding-right: 2px; }
	.bloco.secundario { padding-left: 2px; }

	.advogados .bloco .descritivo { padding: 20px 15px }
}
@media screen and (min-width: 1200px) {
	.socios .conteudo .bloco .descritivo { padding: 25px 55px }
	p.formacao { margin-top: 120px }

	.advogados .bloco.order-2, .advogados .bloco.order-3,
	.advogados .bloco.order-6, .advogados .bloco.order-7,
	.advogados .bloco.order-10, .advogados .bloco.order-11 { padding: 0 }
	.advogados .bloco.order-1, .advogados .bloco.order-5, .advogados .bloco.order-9 { padding-right: 0 }
	.advogados .bloco.order-4, .advogados .bloco.order-8, .advogados .bloco.order-12 { padding-left: 0 }
}

@media screen and (max-width: 768px) {
	.bloco.primario { margin-bottom: 30px }
	.socios .conteudo .bloco .descritivo { padding: 5px 30px }
	.socios .conteudo .bloco .descritivo p { margin-top: 20px }

	.advogados .bloco .descritivo { padding-top: 25px }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.socios .conteudo .bloco .descritivo { padding: 10px 40px }
	p.formacao { margin-top: 60px }

	.advogados .bloco.order-1, .advogados .bloco.order-3, .advogados .bloco.order-5,
	.advogados .bloco.order-7, .advogados .bloco.order-9, .advogados .bloco.order-11 { padding-right: 0 }
	.advogados .bloco.order-2, .advogados .bloco.order-4, .advogados .bloco.order-6,
	.advogados .bloco.order-8, .advogados .bloco.order-10, .advogados .bloco.order-12 { padding-left: 0 }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
	.socios .conteudo .bloco .descritivo { padding: 25px 55px }
	p.formacao { margin-top: 80px }

	.advogados .bloco.order-2, .advogados .bloco.order-5, .advogados .bloco.order-8, .advogados .bloco.order-11 { padding: 0 }
	.advogados .bloco.order-1, .advogados .bloco.order-4, .advogados .bloco.order-7, .advogados .bloco.order-10 { padding-right: 0 }
	.advogados .bloco.order-3, .advogados .bloco.order-6, .advogados .bloco.order-9, .advogados .bloco.order-12 { padding-left: 0 }
}