.parallax { background-attachment: fixed; background-position: center center; background-repeat: no-repeat; background-size: cover }

.separador-footer{ border-left: 1px solid #304e6e; border-right: 1px solid #304e6e; }

.newsletter img { left: 5%; top: -33px; z-index: 1 }
.newsletter .conteudo .chamada h3 { margin-top: 100px }
.newsletter .conteudo .input .input-group { margin-top: 70px; margin-bottom: 150px }
.input-group .email-news { background-color: transparent; border-radius: 0; height: 45px }
.input-group .input-group-btn button { border-radius: 0; height: 45px }
.input-group .input-group-btn button { background-color: #ffffff; border: 1px solid #ffffff; color: #a08a59 }
.input-group .input-group-btn button:hover { background-color: transparent; border: 1px solid #ffffff; color: #ffffff }

.copyright .conteudo { padding-top: 15px; padding-bottom: 10px }
.copyright .conteudo .imagem img { margin-top: 1px }

@media (min-width: 768px) {
    .separador-footer{ border-left: 1px solid #304e6e; border-right: 1px solid #304e6e; }

    .copyright .conteudo .imagem img { float: right }
}

@media (max-width: 767px) {
    .separador-footer{ margin: 25px 0px; border: none!important; }

    .copyright .conteudo .assinatura p { margin-bottom: 5px }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.copyright .conteudo .assinatura p { font-size: 13px }
}