.parallax { background-attachment: fixed; background-position: center center; background-repeat: no-repeat; background-size: cover }

.contato .linha { position: absolute; z-index: 1; left: 50%; top: -40px; height: 80px; width: 2px; background-color: #ffffff }
.contato .conteudo:nth-child(2) { padding-bottom: 80px }
.contato .conteudo .titulo { margin-top: 55px; margin-bottom: 65px }
.contato .conteudo .titulo .icone { margin-bottom: 25px }
.contato .conteudo .titulo .chamada { letter-spacing: 3px; font-size: 30px }
.contato .conteudo .dados .espaco { margin-top: 15px; margin-bottom: 15px }
.contato .conteudo .dados .chamada { font-size: 15px; letter-spacing: 1px }
.contato .conteudo .dados .cnpj { font-size: 14px; color: #3b2c0c }
.contato .conteudo .dados .endereco { font-size: 12px }

.newsletter .conteudo .chamada h3 { margin-top: 100px }
.newsletter .conteudo .input .input-group { margin-top: 70px; margin-bottom: 150px }
.input-group .email-news { background-color: transparent; border-radius: 0; height: 45px }
.input-group .input-group-btn button { border-radius: 0; height: 45px }
.input-group .input-group-btn button { background-color: #ffffff; border: 1px solid #ffffff; color: #a08a59 }
.input-group .input-group-btn button:hover { background-color: transparent; border: 1px solid #ffffff; color: #ffffff }

.footer-links .conteudo .links ul { font-size: 15px; letter-spacing: 1px }
.footer-links .conteudo .links ul>li { margin-bottom: 8px }
.footer-links .conteudo .links ul>li a { color: #a08a59 }
.footer-links .conteudo .chamada p { margin: 0px }
.footer-links .conteudo .chamada p:nth-child(2) { margin-top: 13px }
.footer-links .conteudo .chamada p:nth-child(3) { margin-top: 13px; margin-bottom: 13px }
.footer-links .conteudo .chamada p:nth-child(2), .footer-links .conteudo .chamada p:nth-child(3), .footer-links .conteudo .chamada p:nth-child(4) { font-size: 13px; line-height: 18px }
.footer-links img:nth-child(1) { position: absolute; z-index: 1; right: 5%; top: -33px }

.copyright .conteudo { padding-top: 15px; padding-bottom: 10px }
.copyright .conteudo .imagem img { margin-top: 1px }

@media screen and (min-width: 768px) {
    .contato .conteudo .dados .conteudo { width: 315px }

    .separador-footer { border-left: 1px solid #304e6e; border-right: 1px solid #304e6e }

    .copyright .conteudo .imagem img { float: right }
}
@media screen and (min-width: 992px) {
    .footer-links .conteudo { padding-top: 100px; padding-bottom: 70px }
    .footer-links .conteudo .imagem { height: 176px }
    .footer-links .conteudo .imagem img { position: absolute; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%) }
}
@media screen and (min-width: 1200px) {
    .footer-links .conteudo .links { padding-left: 100px }
    .footer-links .conteudo .chamada { padding-left: 111px }
}

@media screen and (max-width: 767px) {
	.footer-links .conteudo .imagem img { margin-top: 25px; margin-bottom: 20px }
	.footer-links .conteudo .links { margin-bottom: 10px }
	.footer-links .conteudo .chamada { margin-bottom: 20px }
    .separador-footer { border-bottom: 1px solid #304e6e }

    .copyright .conteudo .assinatura p { margin-bottom: 5px }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.footer-links .conteudo { padding-top: 80px; padding-bottom: 70px }
	.footer-links .conteudo .imagem img { margin-bottom: 30px }
	.footer-links .conteudo .links { padding-left: 90px }
    .footer-links .conteudo .chamada { padding-left: 90px }

	.copyright .conteudo .assinatura p { font-size: 13px }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.footer-links .conteudo .links { padding-left: 70px }
	.footer-links .conteudo .chamada { padding-left: 45px }
}