img { margin: 0 auto; }

.linha-marrom { position: absolute; z-index: 1; left: 50%; top: -40px; height: 80px; width: 2px; background-color: #a08a59 }

.botao-dourado { padding: 10px; color: #a08a59; border: 1px solid #a08a59; letter-spacing: 3px }
.botao-azul { padding: 10px; color: #14284b; border: 1px solid #14284b; letter-spacing: 3px }

.slider-topo .item .slider-conteudo { position: absolute; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%) }
.slider-topo .item .slider-conteudo img { margin: 0 auto; margin-top: 40px }
.slider-topo .item .slider-conteudo p.subtitulo { line-height: 28px }
.slider-topo .item .slider-conteudo a[role="button"]:hover { color: #ffffff; background-color: #a08a59 }

.owl-carousel .owl-item img { width: initial }
.owl-theme .owl-nav [class*=owl-] { background: transparent !important }
.owl-theme .owl-nav [class*=owl-]:hover { background: transparent !important }
.owl-theme .owl-nav .owl-next { position: absolute; right: 0%; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%) }
.owl-theme .owl-nav .owl-prev { position: absolute; left: 0%; top: 50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%) }
.owl-dots { position: absolute; left: 50%; bottom: 10%; -ms-transform: translateY(-50%) translateX(-50%); -webkit-transform: translateY(-50%) translateX(-50%); -moz-transform: translateY(-50%) translateX(-50%); -o-transform: translateY(-50%) translateX(-50%); transform: translateY(-50%) translateX(-50%) }
/* .owl-theme .owl-dots .owl-dot { display: block !important } */
.owl-theme .owl-dots .owl-dot span { width: 50px !important; height: 10px !important; margin-bottom: 5px !important; border-radius: 0; background-color: transparent !important; border: 1px solid #a08a59; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background-color: #a08a59 !important; -webkit-transition: .2s ease-in-out; -moz-transition: .2s ease-in-out; -o-transition: .2s ease-in-out; transition: .2s ease-in-out }

.empresa { margin-top: -10px; padding-top: 65px; padding-bottom: 85px; }
.empresa .conteudo a[role="button"]:hover { color: #ffffff; background-color: #14284b }
.empresa .conteudo .titulo h3 { margin-bottom: 0; margin-top: 15px; letter-spacing: 3px }
.empresa .conteudo .descritivo { margin-top: 50px; margin-bottom: 50px }
.empresa img { z-index: 1; right: 5%; bottom: -33px; }

.areas-atuacao { padding-top: 65px; padding-bottom: 85px }
.areas-atuacao .conteudo .titulo h3 { margin-bottom: 0; margin-top: 15px; letter-spacing: 3px }
.areas-atuacao .conteudo .descritivo { margin-top: 50px; margin-bottom: 50px }
.areas-atuacao .conteudo .lista-itens .itens { margin-bottom: 35px }
.areas-atuacao .conteudo .lista-itens .itens .item a.item-link { color: #14284b; }
.areas-atuacao .conteudo .lista-itens .itens .item a.item-link span { display: none }
.areas-atuacao .conteudo .lista-itens .itens .item a.item-link:hover { color: #a08a59; }
.areas-atuacao .conteudo .lista-itens .itens .item a.item-link:hover span { display: unset }
.areas-atuacao img:last-child { left: 5%; bottom: -33px; z-index: 1 }

@media screen and (min-width: 768px) {
	.slider-topo .item .slider-conteudo p.titulo { margin: 0px; font-size: 40px }
	.slider-topo .item .slider-conteudo p.subtitulo { margin: 0px; font-size: 20px; margin-top: 10px; margin-bottom: 45px }
	
	.areas-atuacao .conteudo .lista-itens .item { border-right: 1px solid #e8e8e8 }
	.areas-atuacao .conteudo .lista-itens .item:last-child { border-right: none }
}

@media screen and (max-width: 767px) {
	.slider-topo .item .slider-conteudo p.titulo { margin: 0; font-size: 25px }
	.slider-topo .item .slider-conteudo p.subtitulo { margin: 0; font-size: 15px; margin-top: 20px; margin-bottom: 30px }
	.slider-topo .item .slider-conteudo a[role="button"] { margin-top: 15px; }
	
	.owl-dots { display: none; }

	.areas-atuacao .conteudo .lista-itens .item { padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #e8e8e8 }
}